.header-layout {
    background: #F9F6F4;
    position: absolute;
    width: 1599px;
    height: 85px;
    right: 0%;
    top: 0%;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px;
}

