.header-search-box .search-box {
    background: #EDEDED;
    padding: 10px 16px !important;
    border-radius: 8px;
    position: absolute;
    width: 470px;
    height: 48px;
    left: 321px;
    top: 17px;
}

.right-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 24px !important;
    position: absolute;
    width: 144px;
    height: 48px;
    left: 1744px;
    top: 17px;
}

.right-header .ant-space-item .anticon svg {
    width: 24px;
    height: 24px;
    opacity: 0.8;
}