.calendar {
    width: 300px;
    border: 1px solid #f0f0f0;
    border-radius: 2px
};

.calendar-table {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #f0f0f0;
    border-radius: 12px
};

.calendar-header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100px;
};

.calendar-week {
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-radius: 12px
};

.calendar-day {
    width: 24px;
    height: 24px;
    text-align: center;
};

.date-selected {
    width: 24px;
    height: 24px;
    background-color: #FFB800;
    color: #fff;
    border-radius: 50%;
};

.before-month, .after-month {
    width: 24px;
    height: 24px;
    opacity: 0.5;
    border-radius: 50%;
};