.home-title {
    width: 178px;
    height: 54px;
    color: #1E0D03 !important;
    margin: 0;
}

.area-chart {
    width: 100%;
}

.area-chart-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    width: 100px;
    height: 28px;
    color: #1E0D03;
}

.home-datepicker .ant-space .ant-space-item .input-calendar {
    box-sizing: border-box;
    width: 155px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E6E0E0;
    border-radius: 4px;
}

.pie-chart {
    display: flex;
    flex-direction: row;
    justify-content: space-between !important;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 12px !important;
    height: 312px;
}