@import './home/home.css';

.content-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin: 32px 0;
}

.content-nav > .ant-space-item {
    width: 450px;
    height: 43px;
    align-items: center;
    gap: 16px;
}

.button-group {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    gap: 16px !important;
}

.content-nav .ant-space-item .search-box {
    background: #F7F7F8;
    border-radius: 8px;
}

.content-nav .ant-space-item .search-box .ant-input {
    background: #F7F7F8;
}