.content-layout1 {
    position: absolute;
    width: 1567px !important;
    height: 963px;
    left: 321px;
    top: 85px;
    padding: 24px;
    background: #FFFFFF;
    border-radius: 24px;
}

.content-layout2 {
    position: absolute;
    width: 1567px !important;
    height: 963px;
    left: 321px;
    top: 85px;
    display: flex;
}

.content-layout2-1 {
    width: 1097px;
    height: 963px;
    padding: 24px;
    background: #FFFFFF;
    margin-right: 10px;
    border-radius: 24px;
}

.content-layout2-2 {
    width: 446px;
    height: 963px;
    padding: 24px;
    background: #FFFFFF;
    margin-left: 10px;
    border-radius: 24px;
}