.area-chart-group {
    width: 100%;
}

.area-chart-title {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.chart-name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px !important;
    line-height: 28px !important;
    width: 100px;
    height: 28px;
    color: #1E0D03 !important;
}

.area-chart-datepicker .ant-space .ant-space-item .input-calendar {
    box-sizing: border-box;
    width: 155px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #E6E0E0;
    border-radius: 4px;
}